@font-face {
    font-family: 'MagilioRegular';
    src: url(../fonts/MagilioRegular-Yzv2O.ttf);
}

body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h1 {
    font-family: 'MagilioRegular', sans-serif;
    text-align: center;
    font-size: 80px;
    color: white;
}

.water-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border: 25px solid white;
}

#link-list {
    text-align: center;
}

#link-list li {
    font-size: 40px;
    display: inline;
    margin: 130px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}